[user]
	name = Diogo Pombeiro
[commit]
	verbose = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  tool = nvimdiff
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  algorithm = histogram
[color "diff"]
  context = "#7F0000"
  commit = "#CC0000"
  newMoved = "#FFAA00"
  oldMoved = "#7F5500"
  frag = "#FF8080"
  meta = "#800000"
  new = "#00BF00"
  old = "#FF0000"
[column]
  ui = auto
