[user]
	name = Diogo Pombeiro
[commit]
	verbose = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  tool = nvimdiff
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  algorithm = histogram
[color "diff"]
  context = "#565F89"
  commit = "#1ABC9C"
  newMoved = "#F9F1A5"
  oldMoved = "#E0AF68"
  frag = "#1ABC9C"
  meta = "#C0CAF5"
  new = "#9ECE6A"
  old = "#DB4B4B"
[column]
  ui = auto
