[user]
	name = Diogo Pombeiro
[commit]
	verbose = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  tool = nvimdiff
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  algorithm = histogram
[color "diff"]
  context = "#636DA6"
  commit = "#3BA08E"
  newMoved = "#FFC777"
  oldMoved = "#FF966C"
  frag = "#1ABC9C"
  meta = "#C8D3F5"
  new = "#C3E88D"
  old = "#E26A75"
[column]
  ui = auto
