gui:
  authorColors: {}
  branchColors: {}
  branchColorPatterns: {}
  customIcons:
    filenames: {}
    extensions: {}
  scrollHeight: 2
  scrollPastBottom: true
  scrollOffMargin: 2
  scrollOffBehavior: margin
  tabWidth: 4
  mouseEvents: true
  skipAmendWarning: false
  skipDiscardChangeWarning: false
  skipStashWarning: false
  skipNoStagedFilesWarning: false
  skipRewordInEditorWarning: false
  skipSwitchWorktreeOnCheckoutWarning: false
  sidePanelWidth: 0.3333
  expandFocusedSidePanel: false
  expandedSidePanelWeight: 2
  mainPanelSplitMode: flexible
  enlargedSideViewLocation: left
  wrapLinesInStagingView: true
  useHunkModeInStagingView: true
  language: auto
  timeFormat: 02 Jan 06
  shortTimeFormat: 3:04PM
  theme:
    activeBorderColor:
      - green
      - bold
    inactiveBorderColor:
      - default
    searchingActiveBorderColor:
      - cyan
      - bold
    optionsTextColor:
      - blue
    selectedLineBgColor:
      - blue
    inactiveViewSelectedLineBgColor:
      - bold
    cherryPickedCommitFgColor:
      - lightgreen
    cherryPickedCommitBgColor:
      - "none"
    markedBaseCommitFgColor:
      - blue
    markedBaseCommitBgColor:
      - yellow
    unstagedChangesColor:
      - red
    defaultFgColor:
      - default
  commitLength:
    show: true
  showListFooter: true
  showFileTree: true
  showRootItemInFileTree: false
  showNumstatInFilesView: false
  showRandomTip: true
  showCommandLog: true
  showBottomLine: true
  showPanelJumps: true
  showIcons: false
  nerdFontsVersion: "3"
  showFileIcons: true
  commitAuthorShortLength: 2
  commitAuthorLongLength: 17
  commitHashLength: 8
  showBranchCommitHash: false
  showDivergenceFromBaseBranch: none
  commandLogSize: 8
  splitDiff: auto
  screenMode: normal
  border: rounded
  animateExplosion: true
  portraitMode: auto
  filterMode: substring
  spinner:
    frames: ["⠋", "⠙", "⠹", "⠸", "⠼", "⠴", "⠦", "⠧", "⠇", "⠏"]
    rate: 50
  statusPanelView: dashboard
  switchToFilesAfterStashPop: true
  switchToFilesAfterStashApply: true
  switchTabsWithPanelJumpKeys: false
git:
  pagers:
    - colorArg: always
      pager: "delta --paging=never --features='-side-by-side'"
  commit:
    signOff: false
    autoWrapCommitMessage: true
    autoWrapWidth: 72
  merging:
    manualCommit: false
    args: ""
    squashMergeMessage: Squash merge {{selectedRef}} into {{currentBranch}}
  mainBranches:
    - master
    - main
  skipHookPrefix: WIP
  autoFetch: true
  autoRefresh: true
  autoForwardBranches: onlyMainBranches
  fetchAll: true
  autoStageResolvedConflicts: true
  branchLogCmd: git log --graph --color=always --format=format:'%C(#FFC777)%>|(17)%h%C(reset) %C(#4FD6BE)[%ar]%C(reset)%x09%C(#E26A75)%d%C(reset) %C(#C8D3F5)%s%C(reset) %C(#65BCFF)- %an%C(reset)'
  allBranchesLogCmds:
    - git log --graph --all --color=always --format=format:'%C(#FFC777)%>|(17)%h%C(reset) %C(#4FD6BE)[%ar]%C(reset)%x09%C(#E26A75)%d%C(reset) %C(#C8D3F5)%s%C(reset) %C(#65BCFF)- %an%C(reset)'
  ignoreWhitespaceInDiffView: false
  diffContextSize: 3
  renameSimilarityThreshold: 50
  overrideGpg: false
  disableForcePushing: false
  commitPrefix: []
  commitPrefixes: {}
  branchPrefix: ""
  parseEmoji: false
  log:
    order: topo-order
    showGraph: always
    showWholeGraph: false
  localBranchSortOrder: date
  remoteBranchSortOrder: date
  truncateCopiedCommitHashesTo: 12
update:
  method: prompt
  days: 14
refresher:
  refreshInterval: 10
  fetchInterval: 60
confirmOnQuit: false
quitOnTopLevelReturn: false
disableStartupPopups: false
customCommands:
  - key: P
    context: commits
    command: "git push $(git rev-parse --abbrev-ref --symbolic-full-name @{u} | sed 's/\\/.*//') {{ .SelectedCommit.Hash }}:$(git rev-parse --abbrev-ref HEAD)"
    description: "Push up to selected commit"
    loadingText: "Pushing up to selected commit..."
  - key: "D"
    context: "remoteBranches"
    description: "Delete remote-tracking"
    command: "git branch -r -D {{.SelectedRemote.Name}}/{{.SelectedRemoteBranch.Name}}"
    prompts:
      - type: "confirm"
        title: "Delete remote-tracking"
        body: "Delete '{{.SelectedRemote.Name}}/{{.SelectedRemoteBranch.Name}}'?"
  - key: "<c-r>"
    description: "MR commands"
    commandMenu:
      - command: |
          if git remote -v | grep -q 'github.com'; then
            gh pr list
          elif git remote -v | grep -q 'gitlab.com'; then
            glab mr list
          else
            az repos pr list --output table
          fi
        context: "localBranches"
        description: "Show all MRs details"
        outputTitle: "Show all MRs details"
        loadingText: "Fetching MRs details..."
        output: popup
      - command: |
          if git remote -v | grep -q 'github.com'; then
            gh pr view {{.SelectedLocalBranch.UpstreamBranch}}
          elif git remote -v | grep -q 'gitlab.com'; then
            glab mr view {{.SelectedLocalBranch.UpstreamBranch}}
          else
            az repos pr list --source-branch {{.SelectedLocalBranch.Name}} --query "[0].pullRequestId" -o tsv |
            xargs az repos pr show --output table --id
          fi
        context: "localBranches"
        description: "Show MR details"
        outputTitle: "Open MR details"
        loadingText: "Fetching MR details..."
        output: popup
      - command: |
          if git remote -v | grep -q 'github.com'; then
            gh pr view -w {{.SelectedLocalBranch.UpstreamBranch}}
          elif git remote -v | grep -q 'gitlab.com'; then
            glab mr view -w {{.SelectedLocalBranch.UpstreamBranch}}
          else
            az repos pr show --id $(az repos pr list --source-branch {{.SelectedLocalBranch.Name}} --query "[0].pullRequestId" -o tsv) --open
          fi
        context: "localBranches"
        description: "Open MR in browser"
        loadingText: "Opening MR..."
        output: log
  - key: "N"
    description: "Create new"
    commandMenu:
      - key: "c"
        context: "global"
        description: "commit"
        prompts:
          - type: "menu"
            key: "Type"
            title: "Type of change"
            options:
              - name: "build"
                description: "Updates build configuration, development tools or other changes irrelevant to the user"
                value: "build"
              - name: "chore"
                description: "Updates dependencies or performs maintenance tasks"
                value: "chore"
              - name: "ci"
                description: "Changes to CI configuration files and scripts"
                value: "ci"
              - name: "docs"
                description: "Updates or adds documentation"
                value: "docs"
              - name: "feat"
                description: "Introduces a new feature to the codebase"
                value: "feat"
              - name: "fix"
                description: "Resolves a bug or issue in the code"
                value: "fix"
              - name: "perf"
                description: "Optimizes performance for better efficiency"
                value: "perf"
              - name: "refactor"
                description: "Improves code structure without changing functionality"
                value: "refactor"
              - name: "revert"
                description: "Reverts a previous commit"
                value: "revert"
              - name: "style"
                description: "Improves code formatting or style without affecting behavior"
                value: "style"
              - name: "test"
                description: "Adds or modifies tests to ensure code reliability"
                value: "test"
              - name: "wip"
                description: "For incomplete work"
                value: "wip"
          - type: "input"
            title: "(scope)"
            key: "Scope"
            initialValue: ""
          - type: "menu"
            key: "Breaking"
            title: "!Breaking change!"
            options:
              - name: "no"
                value: ""
              - name: "yes"
                value: "!"
          - type: "input"
            title: "message"
            key: "Message"
            initialValue: ""
          - type: "input"
            title: "description"
            key: "Description"
            initialValue: ""
          - type: "confirm"
            key: "Confirm"
            title: "{{.Form.Type}}{{ if .Form.Scope }}({{ .Form.Scope }}){{ end }}{{.Form.Breaking}}: {{.Form.Message}}"
            body: "Are you sure you want to commit?"
        command: "git commit --message $'{{.Form.Type}}{{ if .Form.Scope }}({{ .Form.Scope }}){{ end }}{{.Form.Breaking}}: {{.Form.Message}}'{{ if .Form.Description }} --message $'{{.Form.Description}}'{{ end }}"
        loadingText: "Creating commit..."
      - key: "b"
        context: "global"
        description: "branch"
        prompts:
          - type: "menu"
            title: "New branch type (branch is off of '{{.SelectedLocalBranch.Name}}')"
            key: "BranchType"
            options:
              - name: "chore"
                description: "Routine maintenance tasks or dependency updates"
                value: "chore"
              - name: "develop"
                description: "The main branch for ongoing development"
                value: "develop"
              - name: "feature"
                description: "A new feature under development"
                value: "feature"
              - name: "fix"
                description: "A fix for a specific bug or issue"
                value: "fix"
              - name: "hotfix"
                description: "An urgent fix for a critical issue in production"
                value: "hotfix"
              - name: "refactor"
                description: "Code improvements without changing functionality"
                value: "refactor"
              - name: "release"
                description: "Prepares a new version for deployment"
                value: "release"
              - name: "test"
                description: "Experimental or test-related changes"
                value: "test"
          - type: "input"
            title: "New branch name (branch is off of '{{.SelectedLocalBranch.Name}})'"
            key: "BranchName"
            initialValue: ""
          - type: "confirm"
            key: "Confirm"
            title: "{{.Form.BranchType}}/{{.Form.BranchName}}"
            body: "Are you sure you want to branch?"
        command: |
          BRANCH_NAME="{{.Form.BranchName}}"
          BRANCH_NAME="${BRANCH_NAME// /-}"
          git checkout -b "{{.Form.BranchType}}/$BRANCH_NAME" refs/heads/{{.SelectedLocalBranch.Name}} --no-track
        loadingText: "Creating branch..."
services: {}
notARepository: prompt
promptToReturnFromSubprocess: true
keybinding:
  universal:
    quit: q
    quit-alt1: <c-c>
    suspendApp: <c-z>
    return: <esc>
    quitWithoutChangingDirectory: Q
    togglePanel: <tab>
    prevItem: <up>
    nextItem: <down>
    prevItem-alt: k
    nextItem-alt: j
    prevPage: ","
    nextPage: .
    scrollLeft: H
    scrollRight: L
    gotoTop: <
    gotoBottom: ">"
    gotoTop-alt: <home>
    gotoBottom-alt: <end>
    toggleRangeSelect: v
    rangeSelectDown: <s-down>
    rangeSelectUp: <s-up>
    prevBlock: <left>
    nextBlock: <right>
    prevBlock-alt: h
    nextBlock-alt: l
    nextBlock-alt2: <tab>
    prevBlock-alt2: <backtab>
    jumpToBlock:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    focusMainView: "0"
    nextMatch: "n"
    prevMatch: "N"
    startSearch: /
    optionMenu: <disabled>
    optionMenu-alt1: "?"
    select: <space>
    goInto: <enter>
    confirm: <enter>
    confirmMenu: <enter>
    confirmSuggestion: <enter>
    confirmInEditor: <a-enter>
    confirmInEditor-alt: <c-s>
    remove: d
    new: "n"
    edit: e
    openFile: o
    scrollUpMain: <pgup>
    scrollDownMain: <pgdown>
    scrollUpMain-alt1: K
    scrollDownMain-alt1: J
    scrollUpMain-alt2: <c-u>
    scrollDownMain-alt2: <c-d>
    executeShellCommand: ":"
    createRebaseOptionsMenu: m
    pushFiles: P
    pullFiles: p
    refresh: R
    createPatchOptionsMenu: <c-p>
    nextTab: "]"
    prevTab: "["
    nextScreenMode: +
    prevScreenMode: _
    cyclePagers: "|"
    undo: z
    redo: Z
    filteringMenu: <c-s>
    diffingMenu: W
    diffingMenu-alt: <c-e>
    copyToClipboard: <c-o>
    openRecentRepos: <c-r>
    submitEditorText: <enter>
    extrasMenu: "@"
    toggleWhitespaceInDiffView: <c-w>
    increaseContextInDiffView: "}"
    decreaseContextInDiffView: "{"
    increaseRenameSimilarityThreshold: )
    decreaseRenameSimilarityThreshold: (
    openDiffTool: <c-t>
  status:
    checkForUpdate: u
    recentRepos: <enter>
    allBranchesLogGraph: a
  files:
    commitChanges: c
    commitChangesWithoutHook: w
    amendLastCommit: A
    commitChangesWithEditor: C
    findBaseCommitForFixup: <c-f>
    confirmDiscard: x
    ignoreFile: i
    refreshFiles: r
    stashAllChanges: s
    viewStashOptions: S
    toggleStagedAll: a
    viewResetOptions: D
    fetch: f
    toggleTreeView: "`"
    openMergeOptions: M
    openStatusFilter: <c-b>
    copyFileInfoToClipboard: "y"
    collapseAll: "-"
    expandAll: =
  branches:
    createPullRequest: o
    viewPullRequestOptions: O
    copyPullRequestURL: <c-y>
    checkoutBranchByName: c
    forceCheckoutBranch: F
    checkoutPreviousBranch: "-"
    rebaseBranch: r
    renameBranch: R
    mergeIntoCurrentBranch: M
    moveCommitsToNewBranch: "<c-n>"
    viewGitFlowOptions: i
    fastForward: f
    createTag: T
    pushTag: P
    setUpstream: u
    fetchRemote: f
    addForkRemote: F
    sortOrder: s
  worktrees:
    viewWorktreeOptions: w
  commits:
    squashDown: s
    renameCommit: r
    renameCommitWithEditor: R
    viewResetOptions: g
    markCommitAsFixup: f
    createFixupCommit: F
    squashAboveCommits: S
    moveDownCommit: <c-j>
    moveUpCommit: <c-k>
    amendToCommit: A
    resetCommitAuthor: a
    pickCommit: p
    revertCommit: t
    cherryPickCopy: C
    pasteCommits: V
    markCommitAsBaseForRebase: B
    tagCommit: T
    checkoutCommit: <space>
    resetCherryPick: <c-R>
    copyCommitAttributeToClipboard: "y"
    openLogMenu: <c-l>
    openInBrowser: o
    viewBisectOptions: b
    startInteractiveRebase: i
    selectCommitsOfCurrentBranch: "*"
  amendAttribute:
    resetAuthor: a
    setAuthor: A
    addCoAuthor: c
  stash:
    popStash: g
    renameStash: r
  commitFiles:
    checkoutCommitFile: c
  main:
    toggleSelectHunk: a
    pickBothHunks: b
    editSelectHunk: E
  submodules:
    init: i
    update: u
    bulkMenu: b
  commitMessage:
    commitMenu: <c-o>
os:
  editPreset: "nvim"
