[opener]
visidata = [
	{ run = 'visidata "$@"', block = true, desc = "Visidata" },
]

[open]
append_rules = [
	{ name = "*.csv", use = "visidata" },
	{ name = "*.db", use = "visidata" },
	{ name = "*.json", use = "visidata" },
	{ name = "*.sql", use = "visidata" },
	{ name = "*.sqlite", use = "visidata" },
	{ name = "*.tsv", use = "visidata" },
	{ name = "*.xlsx", use = "visidata" },
	{ name = "*.yaml", use = "visidata" },
	{ name = "*.yml", use = "visidata" },
]

[mgr]
ratio = [ 1, 3, 4 ]
linemode = "size"

[plugin]
prepend_previewers = [
	{ url = "*/", run = "eza-preview" },
]
prepend_fetchers = [
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
]

[preview]
max_width = 2000
max_height = 4000
