[opener]
visidata = [
	{ run = 'visidata %s', block = true, desc = "Visidata" },
]
bookokrat = [
	{ run = 'bookokrat %s', block = true, desc = "Bookokrat" },
]

[open]
prepend_rules = [
	{ url = "*.csv", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.db", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.epub", use = [ "bookokrat", "edit", "reveal" ] },
	{ url = "*.json", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.pdf", use = [ "bookokrat", "edit", "reveal" ] },
	{ url = "*.sql", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.sqlite", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.tsv", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.xlsx", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.yaml", use = [ "edit", "reveal", "visidata" ] },
	{ url = "*.yml", use = [ "edit", "reveal", "visidata" ] },
]

[mgr]
ratio = [ 1, 3, 4 ]
linemode = "size"

[plugin]
prepend_previewers = [
	{ url = "*/", run = "eza-preview" },
  { url = "*.csv", run = "duckdb" },
  { url = "*.db", run = "duckdb" },
  { url = "*.duckdb", run = "duckdb" },
  { url = "*.json", run = "piper -- jq -C '.' \"$1\"" },
  { url = "*.parquet", run = "duckdb" },
  { url = "*.tsv", run = "duckdb" },
  { url = "*.txt", run = "duckdb" },
  { url = "*.xlsx", run = "duckdb" },
]
prepend_preloaders = [
  { url = "*.csv", run = "duckdb", multi = false },
  { url = "*.tsv", run = "duckdb", multi = false },
  { url = "*.json", run = "duckdb", multi = false },
  { url = "*.parquet", run = "duckdb", multi = false },
  { url = "*.txt", run = "duckdb", multi = false },
  { url = "*.xlsx", run = "duckdb", multi = false }
]
prepend_fetchers = [
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
]

[preview]
max_width = 2000
max_height = 4000
