[tools]
go = "latest"
node = "latest"
"pipx:nomadnet" = "latest"
"pipx:sqlit-tui" = "latest"
ruby = "latest"
uv = "latest"

[settings]
idiomatic_version_file_enable_tools = ["ruby", "node"]

[settings.pipx]
uvx = true
