[tools]
"gem:bundler" = "latest"
"gem:rails" = "latest"
"gem:rake" = "latest"
go = "latest"
node = "latest"
"pipx:nomadnet" = "latest"
"pipx:sqlit-tui" = "latest"
ruby = "latest"
uv = "latest"
"gem:rspec" = "latest"
"gem:rubocop" = "latest"
"pipx:mvw" = "latest"

[settings]
idiomatic_version_file_enable_tools = ["ruby", "node"]

[settings.pipx]
uvx = true
